.flex{
  display: flex;
}
.items-center{
  align-items: center;
}
.flex-col{
  flex-direction: column;
}
.space-around{
  justify-content: space-around;
}
.cursor-pointer{
  cursor: pointer;
}
.day-block{
}
.week-day-block{
}
.day{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.week .day-block.selected-day{
  background-color: transparent;
  border: 1px solid #ffafcc;
}
.week .day-block.current-day{
  background-color: #f7f7f7;
  color: #737373;
}
.week .day-block.another-month-day{
  color:#C0C1BE
}
.week .holiday,
.week .day-block.current-day:hover,
.week .day-block:hover{
  background-color: transparent;
  border: 1px solid #ffafcc;
}
.week .day-block.selected-day:hover{
  background-color: transparent;
  border: 1px solid #ffafcc;
}
.dot{
  width: 4px;
  height: 4px;
}
.header{
  justify-content: space-between;
}
.prev-btn{
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  margin-right: 10px;
  align-items: center;
  width: 12px;
  justify-content: center;
}
.next-btn:hover,
.prev-btn:hover{
  background: #eeeeee;
}
.next-btn{
  cursor: pointer;
  border-radius: 4px;
  padding: 4px;
  margin-left: 10px;
  align-items: center;
  width: 12px;
  justify-content: center;
}
.current-date{
  font-size: 14px;
}
.header{
  margin-bottom: 10px;
}
.days,
.weeks{
}
.calendar{
  margin: 10px;
  display: inline-flex;
}
.weeks{
  margin-bottom: 10px;
}
.events-container{
  position: absolute;
  bottom: 6px;
}
.events-container .dot{
  border-radius: 100%;
  margin-right: 2px;
}
.dates .week:first-child{
  border-top: 1px solid transparent;
}
.weeks .week-day-block{
  border: 1px solid transparent;
  display: flex;
  margin: 1px;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  font-size: 12px;
  color: #999999;
}
.rotate-180{
  transform: rotate(180deg);
}
.week .day-block{
  border: 1px solid transparent;
  border-radius: 6px;
  margin: 1px;
  overflow: hidden;
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #737373;
}
.current-date{
  color: #5e5e5e;
}
.week .day-block:first-child,
.weeks .week-day-block:first-child{
}
.days .day-block:last-child,
.weeks .week-day-block:last-child{
}