.flex{
    display: flex;
  }
  .items-center{
    align-items: center;
  }
  .flex-col{
    flex-direction: column;
  }
  .space-around{
    justify-content: space-around;
  }
  .cursor-pointer{
    cursor: pointer;
  }
  .day-block{
  }
  .week-day-block{
  }
  .day{
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    display: flex;
  }

  .week .day-block.current-day .day{
    background-color: #5e5e5e;
  }
  .week .day-block.selected-day .day{
    background-color: #ffa69e;
    color: #444444;
  }
  .week .day-block.selected-day.current-day .day{
    box-shadow:rgb(254 166 158 / 50%) 0px 0px 0px 2px;
  }
  .week .day-block.another-month-day{
    color:#C0C1BE
  }
  .week .holiday .day{
    background-color: #313131;
    color: #868686;
  }
  .week .day-block.current-day:hover .day,
  .week .day-block:hover .day{
    color: #444444;
    background-color: #ffa69e;
  }
  .week .day-block.selected-day:hover .day{
    box-shadow: rgb(254 166 158 / 50%) 0px 0px 0px 2px;
  }
  .dot{
    width: 4px;
    height: 4px;
  }
  .header{
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
  .prev-btn{
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    margin-right: 10px;
    align-items: center;
    width: 12px;
    justify-content: center;
  }
  .next-btn:hover,
  .prev-btn:hover{
    background: #eeeeee;
  }
  .next-btn{
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    margin-left: 10px;
    align-items: center;
    width: 12px;
    justify-content: center;
  }
  .current-date{
    font-size: 14px;
  }
  .header{
    margin-bottom: 10px;
  }
  .days,
  .weeks{
  }
  .calender{
    margin: 10px;
    display: inline-flex;
    background-color: black;
    border-radius: 16px;
    padding-top: 10px;
  }
  .weeks{
    margin-bottom: 10px;
  }
  .events-container{
    position: absolute;
    bottom: 6px;
  }
  .events-container .dot{
    border-radius: 100%;
    margin-right: 2px;
  }
  .dates .week:first-child{
    border-top: 1px solid transparent;
  }
  .weeks .week-day-block{
    border: 1px solid transparent;
    display: flex;
    margin: 1px;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 40px;
    height: 40px;
    font-size: 12px;
    color: #999999;
  }
  .rotate-180{
    transform: rotate(180deg);
  }
  .week .day-block{
    border: 1px solid transparent;
    border-radius: 100%;
    margin: 1px;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: #f2f2f2;
  }
  .current-date{
    color: #ffffff;
  }
  .week .day-block:first-child,
  .weeks .week-day-block:first-child{
  }
  .days .day-block:last-child,
  .weeks .week-day-block:last-child{
  }